/* header */
.header {
    height: 670px;
    margin: 0 auto;
    width: 1200px;
}
/* header__menu */
.header .navbar {
    background-color: #af9559;
    border: solid #af9559;
    margin: 0 auto;
    font-family: tahoma;
    font-size: 14px;
}
.header .navbar .header__menu {
    padding: 10px 50px 10px 130px;
}
.header .navbar ul>li {
    float: left;
    list-style: none;
    padding-right: 15px;
}
.header .navbar .navbar__text-dotted {
    border-bottom: 1px dotted #fff;
    color: white;
    text-decoration: none;
}
.header .navbar__arrow {
    padding: 0 2px;
}
.header .navbar .navbar__text-underline {
    border-bottom: 1px solid #fff;
    color: white;
    text-decoration: none;
}
.header .navbar .phone {
    color: white;
    padding: 0px 40px 0 60px;
    text-decoration: none;
}
.header .navbar .arsenal {
    padding-left: 25px;
}
.header .navbar .vk {
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 0 6px 2px;
}
/* cotaener-center */
.header .row {
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    margin: 0 auto;
    width: 1200px;
}
.header .header__logo .logo-text {
    color: #777777;
    padding-left: 80px;
}
.header .header__search .form-control  {
    border: 1px solid #919191;
    font-size: 14px;
    height: 40px;
    width: 380px;
}
.header .header__search .glyphicon {
    color: #919191;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    margin-left: -30px;
    width: 40px;
}
.header .header__cart {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 2px solid #919191;
    height: 40px;
    width: 150px;
}
.header .header__cart .list__cart >li {
    display: inline-block;
}
.header .header__cart .list__cart .text__cart {
    margin: 0;
}
.header .header__cart .list__cart .images__cart {

}
.header .header__cart .badge {
    background-color: #c19d47;
}
