/* header */
.header {
    height: 670px;
    margin: 0 auto;
    width: 1200px;
}
/*top-header*/
.header .navbar {
    background-color: #af9559;
    border: solid #af9559;
    margin: 0 auto;
    font-family: tahoma;
    font-size: 14px;
}
.header .navbar .top-header {
    padding: 10px 50px 10px 130px;
}
.header .navbar ul>li {
    float: left;
    list-style: none;
    padding-right: 15px;
}
.header .navbar .dot {
    border-bottom: 1px dotted #fff;
    color: white;
    text-decoration: none;
}
.header .navbar .arrow {
    padding: 0 2px;
}
.header .navbar .line {
    border-bottom: 1px solid #fff;
    color: white;
    text-decoration: none;
}
.header .navbar .telefon {
    color: white;
    padding: 0px 40px 0 60px;
    text-decoration: none;
}
.header .navbar .arsenal {
    padding-left: 25px;
}
.header .navbar .vk {
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    padding: 0 6px 2px;
}
/*center-header*/
.header .container-center {
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    padding: 30px 130px;
}
.header .container-center .logo {
    float: left;
}
.header .container-center .logo .logo-text {
    color: #777777;
    text-align: center;
}
.header .container-center .searcht .form-group .form-control  {
    border: 1px solid #919191;
    font-size: 14px;
    height: 40px;
    list-style: none;
    outline: none;
    text-decoration: none;
    width: 380px;
}
.header .container-center .searcht .form-group .glyphicon {
    color: #919191;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    margin-left: -30px;
    width: 40px;
}
.header .container-center .basket {
    border: 1px solid #919191;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.header .container-center .basket .images-basket{
    padding: 5px 5px 5px 5px;
    float: left;
}
.header .container-center .basket .badge {
    background-color: #c19d47;
    margin: 10px 0 10px 10px;
}
.header .images {
    margin-top: 10px;
}

/*cotaener-center*/
.header .row {
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    margin: 0 auto;
    width: 1200px;
}
.header .row .container-fluid {
    padding: 20px 0px 17px 130px;
}
.header .row .logo .logo-text {
    color: #777777;
    padding-left: 80px;
}
.header .row .searcht .form-group .form-control  {
    border: 1px solid #919191;
    font-size: 14px;
    height: 40px;
    width: 380px;
}
.header .row .searcht .form-group .glyphicon {
    color: #919191;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    margin-left: -30px;
    width: 40px;
}
.header .row .basket {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 2px solid #919191;
    height: 40px;
    margin-top: 8px;
    width: 150px;
}
.header .row .basket .images-basket{
    float: left;
    padding: 5px 5px 5px 5px;
}
.header .row .basket .badge {
    background-color: #c19d47;
    margin: 10px 0 10px 10px;
}