/* layout */
.layout {
    font-family: tahoma;
    font-size: 14px;
}
.link:hover {
    text-decoration: none;
}

/* text format */
.text__dotted {
    border-bottom: 1px dotted #fff;
}
.text__underline {
    border-bottom: 1px solid #fff;
}

/* social buttons */
.social__button {
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    padding: 11px;
}
.social__button-vk {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAM1BMVEUAAAD+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7EB9fYAAAAEHRSTlMAML9gXz8J6tOqliIXqYJQZvLX/QAAAEhJREFUCNeVzUkKwDAMBEFZi/ck8//XxgSC5KP7ICgYEGWKLZ42RVR1/Ez4MqdYQXMmYtxOZtQceBX0ODZgBD7r+LgBdfvbJ73YOQMa4CeqxQAAAABJRU5ErkJggg==');
    background-position: 2px 2px;
    float: right;
    margin-top: 15px;
}

/* navbar */
.navbar {
    background-color: #af9559;
    border-radius: 0;
    color: #fff;
    line-height: 50px;
}
.navbar .link {
    color: #fff;
    margin-right: 20px;
}
.navbar .glyphicon-earphone {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-right: 6px;
    margin-top: 18px;
}
.navbar__pages {
    margin: 0;
}
.search__group {
    margin-right: 50px;
}
/******************************************************************************/
/* cotaener-center */
.header__logo .logo__image {
    width: 100%;
    max-width: 350px;
}
.header__logo .logo__text {
    color: #777;
    padding-left: 78px;
}
.header__search .search__inner {
    margin-right: 20px;
}
.input-group {
    margin-bottom: 10px;
}
.search__group {
    font-size: 14px;
    height: 40px;
    outline: none;
}
.search__input {
    background-color: #fff;
    color: #d0d0d0;
    font-size: 14px;
}
.search__button {
    background-color: #fff;
    border-left: none;
    border: solid #fff;
    outline: none;
}

.cart .header__cart {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 2px solid #919191;
    height: 40px;
    margin-left: 35%;
}
.cart .header__cart .list__cart {
    padding: 5px 0px;
}
.cart .header__cart .list__cart >li {
    display: inline-block;
    padding-left: 10px;
}
.cart .header__cart .text__cart {
    margin: 0;
    font-size: 14px;
    padding-top: 2px;
}
.cart .header__cart .badge {
    background-color: #c19d47;
}
/* categories */
.categories {
    display: inline-block;
    padding: 0;
}
.categories .categories__dropdown {
    float: left;
    list-style: none;
    margin-right: 25px;
}
.categories .categories__dropdown-link {
    text-decoration: none;
}
.categories .categories__dropdown-link:hover  {
    background-color: #ef383f;
    border-radius: 25px;
    color: #fff;
    padding: 7px 10px;
}
.categories .categories__dropdown .categories__list {
    background: #333;
    display: none;
    list-style: none;
}
.categories .categories__dropdown:hover .categories__list {
    display: block;
    position: relative;
    top: 10px;
}
.categories .categories__dropdown .categories__list .categories__list-item {
    list-style: none;
    position: relative;
}
.categories .categories__dropdown .categories__list .categories__list-item .categories__complection {
    opacity: 0.9;
    text-decoration: none;
}

.line__color {
    background-color: #ef383f;
    border: none;
    height: 2px;
    margin: 0;
}

/* slider__header */
.slider {
    background-color: #6d727d;
    margin-bottom: 20px;
}
.slider .slider__item {
    position: relative;
}
.slider .slider__image {
    width: 100%;
    margin: auto;
}
.slider .slider__description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.slider .slider__item-text {
    color: #fff;
    margin-top: 20%;
}

/* carousel */
.carousel {
    position: relative;
}
.carousel__inner {
    overflow: hidden;
    position: relative;
}
.carousel .carousel__list {
    position: relative;
    width: 20000em;
}
.carousel .carousel__list-item {
    float: left;
    text-align: center;
    width: 190px;
}
.carousel__image {
    display: block;
    height: auto !important;
    margin: 0 auto;
    max-width: 100%;
}
.carousel__control-prev,
.carousel__control-next {
    background: #4E443C;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    top: 50%;
    width: 30px;
}
.carousel__control-prev {
    left: -40px;
}
.carousel__control-next {
    right: -40px;
}
